
@wiki-dark:#7b932d;
@wiki-light:#cde5b6;
@wiki-primary-border:darken(@wiki-light, 10%);
@wiki-primary-hover-bg:darken(@wiki-primary-border, 5%);
@wiki-secondary-bg:lighten(@wiki-light, 5%);
@wiki-tertiary-bg:lighten(@wiki-light, 10%);

@import "base.less";