//
// Badges
// --------------------------------------------------


// Contextual variations
.badge-default {
	background: @badge-default-bg !important;
	color: @badge-default-text !important;
}
.badge-primary {
	background: @badge-primary-bg !important;
	color: @badge-primary-text !important;
}
.badge-success {
	background: @badge-success-bg !important;
	color: @badge-success-text !important;
}
.badge-info {
	background: @badge-info-bg !important;
	color: @badge-info-text !important;
}
.badge-warning {
	background: @badge-warning-bg !important;
	color: @badge-warning-text !important;
}
.badge-danger {
	background: @badge-danger-bg !important;
	color: @badge-danger-text !important;
}