.CodeMirror-fullscreen {
	z-index:1000000;
}
.CodeMirror {
	height:600px;
	font-family:'Source Code Pro', monospace;
	font-size:13px;
}
.cm-mw-htmltag-attribute {
	color:#8a5700;
}
.CodeMirror.cm-s-default.CodeMirror-wrap > div > textarea {
	width:0 !important;
	outline:none !important;
	border:none;
	display:none !important;
}

.cm-mw-template-bracket {
	color: #fd00ff ;
	font-weight: bold;
}
.cm-mw-template-name {
	color: #e66c00 ;
	font-weight: bold;
} 
.cm-mw-template-delimiter {
	color: #112198 ;
	font-weight: bold;
}
.cm-mw-template-argument-name {
	color: #f00;
	font-weight: bold;
}
.cm-mw-template {
	color: #1169aa ;
	font-weight: normal;
}
.wikiEditor-ui .options {
	z-index:10000;
}
.CodeMirror.lineWrapping pre {
	word-wrap:break-word;
	white-space:pre-wrap;
	word-break:normal;
}