.CodeMirror-fullscreen {
	z-index:1000000;
}
.CodeMirror {
	height:600px;
}
.cm-mw-htmltag-attribute {
	color:#8a5700;
}
.CodeMirror.cm-s-default.CodeMirror-wrap > div > textarea {
	width:0 !important;
	outline:none !important;
	border:none;
}